{{layout settings.customer_layout}}

{{assign has_sidebar = true}}
{{assign has_crumbs = true}}
{{assign section_class = with-sidebar}}

<div id="customer-account">
{{> page_header with My Account }}
{{include container_open with section_class}}
{{> page_content_open }}

	<h2>Order History <small class="pull-right hidden-phone">Welcome back, {{customer.first_name}}!</small></h2>

	<div id="customer-orders">
	  {{#if customer.orders.size != 0}}
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="order-number">Order</th>
	        <th class="payment-status hidden-phone">Payment</th>
	        <th class="fulfillment-status">Fulfillment</th>
	        <th class="total">Total</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{for order in customer.orders}}
	      <tr class="{{cycle odd, even}} {{#if order.cancelled}}cancelled_order{{/if}}">
	        <td>
						{{ order.name | link_to: order.customer_url }}
						<div class="date-created tcl">{{ order.created_at | date: "%b %d, %Y" }}</div>
					</td>
	        <td class="hidden-phone">
						<span class="status_{{ order.financial_status }}">
							{{ order.financial_status | capitalize }}
						</span>
					</td>
	        <td>
						<span class="status_{{ order.fulfillment_status }}">
							{{#if order.fulfillment_status == unfulfilled}}
							<span class="label">{{ order.fulfillment_status | capitalize }}</span>
							{{elsif order.fulfillment_status == fulfilled}}
							<span class="label label-success">{{ order.fulfillment_status | capitalize }}</span>
							{{/if}}
						</span>
					</td>
	        <td><span class="total money">{{ order.total_price | money }}</span></td>
	      </tr>
	      {{/for}}
	    </tbody>
	  </table>
	  {{else}}
	    <p>You havent placed any orders yet.</p>
	  {{/if}}
	</div>

{{> page_content_close }}
{{> sidebar }}
{{> container_close }}
</div>