{{layout settings.customer_layout}}
{{assign has_sidebar = false}}
{{assign has_crumbs = true}}

<div id="customer-account">
{{> page_header with Manage Addresses }}
{{> container_open }}
{{include page_content_open with has_sidebar}}

<div id="page-actions">
  <a href="#" class="action_add note" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;"><i class="icon-plus"></i> Add a new address</a>
</div>

<div id="add_address" class="customer_address edit_address" style="display:none;">
  {{form customer_address, customer.new_address}}
		<h3 id="add_address_title">Add a new address</h3>
			
		<div class="control-group">
      <label class="control-label" for="address_first_name_new">First name</label>
      <div class="controls">
				<input type="text" id="address_first_name_new" class="input-xlarge" name="address[first_name]" value="{{form.first_name}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_last_name_new">Last name</label>
      <div class="controls">
				<input type="text" id="address_last_name_new" class="input-xlarge" name="address[last_name]" value="{{form.last_name}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_company_new">Company</label>
      <div class="controls">
				<input type="text" id="address_company_new" class="input-xlarge" name="address[company]" value="{{form.company}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_address1_new">Address1</label>
      <div class="controls">
				<input type="text" id="address_address1_new" class="input-xlarge" name="address[address1]" value="{{form.address1}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_address2_new">Address2</label>
      <div class="controls">
				<input type="text" id="address_address2_new" class="input-xlarge" name="address[address2]" value="{{form.address2}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_city_new">City</label>
      <div class="controls">
				<input type="text" id="address_city_new" class="input-xlarge" name="address[city]" value="{{form.city}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_country_new">Country</label>
      <div class="controls">
				<select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
      </div>
    </div>


		<div id="address_province_container_new" class="control-group" >
      <label class="control-label" for="address_province_new">Province</label>
      <div class="controls">
				<select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_zip_new">Zip/Postal</label>
      <div class="controls">
				<input type="text" id="address_zip_new" class="input-xlarge" name="address[zip]" value="{{form.zip}}"/>
      </div>
    </div>

		<div class="control-group">
      <label class="control-label" for="address_phone_new">Phone</label>
      <div class="controls">
				<input type="text" id="address_phone_new" class="input-xlarge" name="address[phone]" value="{{form.phone}}"/>
      </div>
    </div>

		<div class="control-group">
       <label class="control-label"></label>
       <div class="controls">
         <label class="checkbox">
           {{ form.set_as_default_checkbox }} Set as Default Address?
         </label>
       </div>
     </div>

    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Add Address" />
      <span class="note"> or <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a></span>
    </div>
  {{/form}}
</div>

<div id="address_tables"> 
	{{paginate customer.addresses by 3}}
	{{for address in customer.addresses}}
		
	  <div class="address_table">
			<div id="view_address_{{address.id}}" class="customer_address">
				
				<h4 class="address_title">{{ address.street }}</h4>
				<div class="default-indicator">
					{{#if address == customer.default_address}}
					<span class="label label-success">default</span>
					{{/if}}
				</div>

					<div class="view_address">							
						<div class="row-fluid">
							
							<div class="span2">
								<div class="full-name">
									{{ address.first_name }} {{address.last_name }}
								</div>
								<div class="company">
								{{#if address.company != ""}}
									{{ address.company }}
								{{/if}}
								</div>
							</div>
							
							<div class="span2">
								  {{ address.address1 }}<br>
								{{#if address.address2 != ""}}
									{{ address.address2 }}<br>
								{{/if}}
								{{ address.city }},
								{{#if address.province_code}}{{address.province_code}},
								{{/if}}{{address.country}}<br>
								{{ address.zip}}
							</div>
							
							<div class="span2">
								{{#if address.phone != ""}}
								 	<abbr title="Phone">P:</abbr> {{ address.phone }}
								{{/if}}
							</div>
							
							<div class="span6 tar">
								<div class="address_actions">
									<span class="action_edit">
										{{ "Edit" | edit_customer_address_link: address.id }}
									</span>
					         <span class="action_delete">
										{{ "Delete" | delete_customer_address_link: address.id }}
									</span>
								</div>
							</div>
							
						</div>
					</div>
			
			</div><!-- #view_address -->
			
			<div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display:none;">
			  {{form customer_address, address}}
					<div class="customer_address_table">
					<h3 class="edit_address_title">Edit address</h3>

					<div class="control-group">
			      <label class="control-label" for="address_first_name_{{form.id}}">First name</label>
			      <div class="controls">
							<input type="text" id="address_first_name_{{form.id}}" class="input-xlarge" name="address[first_name]" value="{{form.first_name}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_last_name_{{form.id}}">Last name</label>
			      <div class="controls">
							<input type="text" id="address_last_name_{{form.id}}" class="input-xlarge" name="address[last_name]" value="{{form.last_name}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_company_{{form.id}}">Company</label>
			      <div class="controls">
							<input type="text" id="address_company_{{form.id}}" class="input-xlarge" name="address[company]" value="{{form.company}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_address1_{{form.id}}">Address1</label>
			      <div class="controls">
							<input type="text" id="address_address1_{{form.id}}" class="input-xlarge" name="address[address1]" value="{{form.address1}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_address2_{{form.id}}">Address2</label>
			      <div class="controls">
							<input type="text" id="address_address2_{{form.id}}" class="input-xlarge" name="address[address2]" value="{{form.address2}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_city_{{form.id}}">City</label>
			      <div class="controls">
							<input type="text" id="address_city_{{form.id}}" class="input-xlarge" name="address[city]" value="{{form.city}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_country_{{form.id}}">Country</label>
			      <div class="controls">
							<select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
			      </div>
			    </div>

					<div id="address_province_container_{{form.id}}" class="control-group" style="display:none">
			      <label class="control-label" for="address_province_{{form.id}}">Province</label>
			      <div class="controls">
							<select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_zip_{{form.id}}">Zip/Postal</label>
			      <div class="controls">
							<input type="text" id="address_zip_{{form.id}}" class="input-xlarge" name="address[zip]" value="{{form.zip}}"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="address_phone_{{form.id}}">Phone</label>
			      <div class="controls">
							<input type="text" id="address_phone_{{form.id}}" class="input-xlarge" name="address[phone]" value="{{form.phone}}"/>
			      </div>
			    </div>

					<div class="control-group">
			       <label class="control-label"></label>
			       <div class="controls">
			         <label class="checkbox">
			           {{ form.set_as_default_checkbox }} Set as Default Address?
			         </label>
			       </div>
			     </div>

			    <div class="form-actions">
			      <input class="btn btn-primary" type="submit" value="Update Address" />
			      <span class="note"> or <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a></span>
			    </div>

				</div>
			  {{/form}}
			</div>
			
	  </div><!-- #address_table -->
	{{/for}}
	
	{{> pagination_numbered }}
	
	{{endpaginate}}
</div>


{{> page_content_close }}		
{{> container_close }}
</div>


<script type="text/javascript" charset="utf-8">
	
	
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector(address_country_new, address_province_new, {hideElement: address_province_container_new});  
  {{for address in customer.addresses}}
    new Shopify.CountryProvinceSelector(address_country_{{address.id}}, address_province_{{address.id}}, {hideElement: address_province_container_{{address.id}}});
  {{/for}}
	
</script>