{{assign display_author = article_area | append: _display_author?}}
{{assign display_date = article_area | append: _display_date?}}
{{assign display_time = article_area | append: _display_time?}}
{{assign display_comment_count = article_area | append: _display_comment_count?}}

{{#if settings[display_author]  or settings[display_date] or settings[display_time] or settings[display_comment_count]}}
	<div class="entry-meta tcl">
		{{#if settings[display_author]}}
			<span class="prep">by</span> <span class="author">{{ article.author }}</span>
		{{/if}}

		{{#if settings[display_author] and settings[display_date]}}
			<span class="prep">on</span>
		{{/if}}

		{{#if settings[display_date]}}
			<time class="published" datetime="{{ article.published_at | date: %F }}">{{ article.published_at | date: %B %d, %Y }}</time>
		{{/if}}

		{{#if settings[display_date] and settings[display_time]}}
			<span class="prep">at</span>
		{{/if}}

		{{#if settings[display_time]}}
			<time class="published-time" datetime="{{ article.published_at | date: %H:%M }}">{{ article.published_at | date: %I:%M%p }}</time>
		{{/if}}

		{{#if settings[display_comment_count]}}
			{{#if blog.comments_enabled? or article.comments.size > 0}}
				<span class="comment-count">
					<a href="{{ article.url }}#comments">{{ article.comments_count }}&nbsp;<i class="icon-comment icon-white"></i></a>
				</span>
			{{/if}}
		{{/if}}
	</div>
{{/if}}