<ul class="breadcrumb tc">
	
	{{#if template contains customer}}
		<li class="first">{{ My Acount | link_to: /account }}</li>
	{{else}}
		<li class="first">{{ Home | link_to: shop.url }}</li>
	{{/if}}
	
	{{#if template contains "product"}}
		{{#if collection}}            
			<li class="divider">&raquo;</li> 
			{{#if collection.handle}}
				{{capture url}}/collections/{{ collection.handle }}{{endcapture}}
				<li>{{ collection.title | link_to: url }}</li>
			{{elsif collection.all_products_count > 0 and collection.products.first.type == collection.title}}
				<li>{{ collection.title | link_to_type }}</li>
			{{elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title}}
				<li>{{ collection.title | link_to_vendor }}</li>
			{{/if}}
		{{else}}
			<li class="divider">&raquo;</li> 
			<li>{{ product.type | link_to_type }}</li>
		{{/if}}
	
	<li class="divider">&raquo;</li>
	
	<li>{{ page_title }}</li>
	
	{{elsif template == "blog"}}
		<li class="divider">&raquo;</li> 
		<li>{{ blog.title | link_to: blog.url }}</li>
		{{#if current_tags.size > 0}}
			<li class="divider">&raquo;</li>
			<li>{{ current_tags.first }}</li>
		{{/if}}
		
	{{elsif template == "article"}}
		<li class="divider">&raquo;</li> 
		<li>{{ blog.title | link_to: blog.url }}</li>
		<li class="divider">&raquo;</li>
		<li>{{ page_title }}</li>

	{{elsif template contains "collection"}}
		{{#if current_tags.size > 0}}
			<li class="divider">&raquo;</li>
			{{#if collection.url.size >}}
			<li>{{ collection.title | link_to: collection.url }}</li>
			{{else}}
			<li>{{ collection.title | link_to: /collections/all }}</li>
			{{/if}}
			<li class="divider">&raquo;</li>
			<li>{{ current_tags.first }}</li>
		{{else}}
			<li class="divider">&raquo;</li>
			<li>{{ page_title }}</li>
		{{/if}}

	{{else}}
		<li class="divider">&raquo;</li>
		<li>{{ page_title }}</li>
	{{/if}}

</ul>