{{include page_header with "Shopping Cart"}}
{{> container_open }}
{{include page_content_open with has_sidebar}}

<script type="text/javascript">
  function remove_item(id) {
      document.getElementById(updates_+id).value = 0;
      document.getElementById(cartform).submit();
  }
</script>

{{#if cart.items == empty}}
  <p class="empty">Your shopping cart is empty. Check out our <a href="/collections/all">catalog</a> to see whats available.</p>

{{else}}

<form action="/cart" method="post" id="cartform">

	<table id="cart" class="table">
		<thead>
			<tr>
				<th class="remove">&nbsp;</th>
				<th class="image visible-deskto">Image</th>
				<th class="item">Item</th>
				<th class="price">Price</th>
				<th class="qty">Qty.</th>
				<th class="total">Total</th>
			</tr>
		</thead>

		<tbody>

			{{for item in cart.items}}
			<tr>
				<!-- Remove -->
				<td class="remove">
					<a href="#" rel="tooltip" title="Remove from cart" data-variant-id="{{ item.variant.id }}">
						<i class="icon-trash"></i>
					</a>
				</td>

				<!-- Image -->
				<td class="image">
					<div class="image-wrap">
						 <a href="{{ item.product.url | within: collections.all }}">
	            {{assign option_index = 0}}
	            {{assign image_index = 0}}
	            {{assign found_image = false}}
	            {{for option in item.product.options}}
	              {{assign downcased_option = option | downcase}}
	              {{#if downcased_option contains color or downcased_option contains colour or downcased_option contains style}}
	                {{assign option_index = forloop.index0}}
	              {{/if}}
	            {{/for}}
	            {{for image in item.product.images}}
	              {{unless found_image}}
	                {{#if image.alt == item.variant.options[option_index]}}
	                  {{assign image_index = forloop.index0}}
	                  {{assign found_image = true}}
	                {{/if}}
	              {{endunless}}
	            {{/for}}
	            <img src="{{ item.product.images[image_index].src | product_img_url: small }}" alt="{{ item.title | escape }}" />
          	</a>
					</div>
				</td>

				<!-- Item -->
				<td class="item">
					<p class="title">
						<a href="{{item.product.url}}" title="View {{item.title | escape }}">
	            {{ item.product.title }}
	          </a>
	        	{{#if item.variant.inventory_quantity <= 0 and item.variant.inventory_management == shopify}}
							<span class="line-sub backordered" rel="tooltip" title="This item is on backorder and will ship when available."><i class="icon-time"></i></span>
           	{{/if}}
						<span class="line-sub">{{item.variant.title}}</span>
					</p>
					<p class="item-description tcl">{{ item.product.description | truncatewords: 15 | strip_html }}</p>
				</td>

				<!-- Price -->
				<td class="price">
					{{ item.price | money }}
				</td>

				<!-- Qty -->
				<td class="qty">
					<input type="number" name="updates[{{item.variant.id}}]" class="input-mini" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
				</td>

				<!-- Total -->
				<td class="total">
					{{ item.line_price | money }}
				</td>

			</tr>
			{{/for}}

		</tbody>
	</table>

  <div class="row-fluid">


    <!-- shopping and order notes
    ============================================== -->
    <div class="span8">
        <div class="row-fluid">
          <div class="span5">
            <section id="shipping-calculator">
              <h2>Shipping calculator</h2>
              <p><a href="#" id="show-calculator">Calculate shipping</a></p>
							{{> shipping_calculator }}
            </section>
          </div>
					<div class="span1">&nbsp;</div>
          <div class="span5">
            {{#if settings.cart_display_note?}}
            <section id="order-notes">
              <h2>Order notes</h2>
							<p id="note-preview"></p>
							<textarea id="note" name="note" rows="3" class="span12">{{ cart.note }}</textarea>
							<p><a id="edit-note" href="#">Add note</a></p>
            </section>
            {{/if}}
          </div>
        </div>
    </div>


    <!-- checkout
    ============================================== -->
    <div class="span4">
      <div id="checkout">
      	<h2>
					Subtotal
					<span class="currency tcl">({{ shop.currency }})</span>
					<span class="amount">{{ cart.total_price | money }}</span>
				</h2>
      	<div class="form-actions clearfix">
      		<input type="submit" class="btn btn-large" id="update-cart" name="update" value="Update" />
      		<input type="submit" class="btn btn-primary btn-large" name="checkout" value="Checkout" />

      		{{#if additional_checkout_buttons}}
      			<div class="additional-checkout-buttons">
      				{{ content_for_additional_checkout_buttons }}
      			</div>
      		{{/if}}

      		<div class="continue-shopping" "clearfix">
      		or <a href="/collections/all" >continue shopping</a>
      		</div>
      	</div>
      </div>
    </div>

 </div> <!-- /row -->
</form>

{{/if}}

{{#if settings.cart_page_content != }}
<div class="well">
	{{ pages[settings.cart_page_content].content }}
</div>
{{/if}}

{{> page_content_close }}
{{> container_close }}
