{{assign has_sidebar = false}}
{{assign has_crumbs = false}}
{{> page_header with Collections }}
{{> container_open }}
{{include page_content_open with has_sidebar}}
<section>

	{{#if collections.size > 0}}
		<div class="thumbnails collections">
			{{for collection in collections}}
        {{> collection_small }}
  		{{/for}}
		</div>
		{{> pagination_numbered }}
	{{else}}
		<p class="empty">There are currently no products in this collection.</p>
	{{/if}}

</section>
{{> page_content_close }}		
{{> container_close }}