<!-- Footer scripts -->
<div id="footer-scripts">

	<!-- Vendor -->
	{{ bootstrap.min.js | asset_url | script_tag }}
  {{ jquery.easing.1.3.js | asset_url | script_tag }}
  {{ jquery.tweet.js | asset_url | script_tag }}
  {{ jquery.fancybox.pack.js | asset_url | script_tag }}
	{{ jquery.selectBoxIt.min.js | asset_url | script_tag }}
	{{ option_selection.js | shopify_asset_url | script_tag }}
	{{ responsiveslides.min.js | asset_url | script_tag }}
	
	<!-- Theme specific -->
  {{ theme.js | asset_url | script_tag }}
	
	<!-- Analytics -->
	{{ https://apis.google.com/js/plusone.js | script_tag }}
</div>