{{layout settings.customer_layout}}

{{assign has_sidebar = false}}
{{assign has_crumbs = true}}
{{> page_header with My Account }}
{{> container_open }}
{{include page_content_open with has_sidebar}}

<div id="customer-account">
{{#if shop.checkout.guest_login}}
  <div class="span6">
	{{> customer_account_login }}
	{{> customer_account_recover_password }}
	</div>
  <div class="span6">
	{{> customer_account_login_guest }}
	</div>
{{else}}
	{{> customer_account_login }}
	{{> customer_account_recover_password }}
{{/if}}
</div>

{{> page_content_close }}		
{{> container_close }}
