<div class="nav-mobile-list-wrap visible-phone">
  <nav class="nav-mobile-list">
	  <ul class="nav">

	  	{{for link in linklists[settings.header_nav_primary_list].links}}

	  		{{assign current = false}}
	  		{{#if template == index and link.url == /}}
	  			{{assign current = true}}
	  		{{elsif collection.url == link.url}}
	  			{{assign current = true}}
	  		{{elsif blog.url == link.url}}
	  			{{assign current = true}}
	  		{{elsif page.url == link.url}}
	  			{{assign current = true}}
	  		{{elsif page_title == link.title}}
	  			{{assign current = true}}
	  		{{elsif template == list-collections and link.url == /collections}}
	  			{{assign current = true}}
	  		{{elsif page_title == Products and link.url == /collections/all}}
	  			{{assign current = true}}
	  		{{elsif template == article and link.url == article.url}}
	  			{{assign current = true}}
	  		{{/if}}

		
	  		{{capture child_list_handle}}{{ link.title | handle }}{{endcapture}}
		
	  		{{#if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0}}
	  			<li class="{{#if forloop.first}} first{{/if}}{{#if current}} active{{/if}}">
	  				<a href="#">{{ link.title }}</a>
	  				<ul>
	  		    	{{for l in linklists[child_list_handle].links}}
	  		      	<li><a href="{{ l.url }}">{{ l.title }}</a></li>
	  		      {{/for}}
	  		    </ul>
	  			</li>
	  			{{unless forloop.last}}
	  			<!-- <li class="divider">/</li> -->
	  			{{endunless}}
	  		{{else}}
	  			<li class="nav-item{{#if forloop.first}} first{{/if}}{{#if current}} active{{/if}}{{#if forloop.last}} last{{/if}}">
	  				<a href="{{ link.url }}">{{ link.title }}</a>
	  			</li>
	  			{{unless forloop.last}}
	  			<!-- <li class="divider">/</li> -->
	  			{{endunless}}
	  		{{/if}}

	    {{/for}}
	
			{{#if shop.customer_accounts_enabled}}
			  {{#if customer}}
					<li class="{{#if current}} active{{/if}}"><a href="/account">My Account</a></li>
					<li class="{{#if current}} active{{/if}}"><a href="/account/logout">Sign-out</a></li>
				{{else}}
					<li class="{{#if current}} active{{/if}}"><a href="/account">My Account</a></li>
			  {{/if}}
			{{/if}}
			
			<li class="last {{#if current}} active{{/if}}"><a href="/cart">Checkout - {{ cart.item_count }} {{ cart.item_count | pluralize: item, items }} for {{ cart.total_price | money }}</a></li>

	  </ul>
  </nav>
</div>