{{assign has_sidebar = false}}
{{assign has_crumbs = true}}
{{include page_header with product.title}}
{{> container_open }}
{{include page_content_open with has_sidebar}}

<article class="hproduct single product-{{product.id}} {{product.handle}} clearfix">

		<div class="span5">
		
			<!-- Featured image -->
			<div id="featured-image">
				<div class="icon-zoom"></div>

				{{#if product.featured_image}}	
				<a href="{{ product.featured_image | product_img_url: original }}" data-image-index="1" title="{{#if image.alt}}{{ image.alt }}{{else}}{{ product.title }}{{/if}}"><img src="{{ product.featured_image | product_img_url: original }}" alt="{{#if product.featured_image.alt}}{{ product.featured_image.alt }}{{else}}{{ product.title }}{{/if}}" /></a>
				{{/if}}
			</div>
		

	
			<!-- Thumbs -->
			<div class="thumbs thumb-count-{{product.images.size}}">
				{{for image in product.images}}
					{{assign newRow = forloop.index | modulo: 3}}

					{{#if forloop.first}}
						<div class="row-fluid">
					{{/if}}
				
					<div class="span4{%if product.images.size <= 1%} hidden{%/if%}">
						<div class="product-thumb">
							<a href="{{ image | product_img_url: medium }}" title="{{#if image.alt}}{{ image.alt }}{{else}}{{ product.title }}{{/if}}" data-grande-image="{{ image | product_img_url: original }}" data-image-index="{{forloop.index}}"><img src="{{ image | product_img_url: medium }}" alt="{{#if image.alt}}{{ image.alt }}{{else}}{{ product.title }}{{/if}}" /></a>
							<a href="{{ image | product_img_url: original }}" class="fancybox" rel="product" style="display:none;"></a>
						</div>
					</div>

					{{#if newRow == 0}}
					</div>
					<div class="row-fluid{{last_row}}">
					{{/if}}
					
					{{#if forloop.last}}
						</div>
					{{/if}}
					
				{{/for}}
			</div>
			
		</div>
		
		<div class="span1">&nbsp;</div>
		<div class="span6">
	
			{{#if collection and settings.product_collection_nav_top?}}
				<div id="nav-collection-top">{{> product_collection_nav }}</div>
		  {{/if}}
		
			<div class="details">
				{{> product_header }}
				
				<span class="price tcd">
					{{#if default_options}}{{ product.variants.first.price | money }}{{/if}}
				</span>

				{{#if settings.product_variations_location == top}}
					{{> product_variants }}
					{{> product_body }}
				{{else}}
					{{> product_body }}
					{{> product_variants }}
				{{/if}}

				{{> product_footer }}
			</div>

			{{#if collection and settings.product_collection_nav_bottom?}}
		    	<div id="nav-collection-bottom">{{> product_collection_nav }}</div>
		    {{/if}}
		</div>		

</article>

{{#if settings.product_display_related?}}
{{#if collection.products.size > 0 or product.collections.first.products.size > 0}}
	{{> product_related }}
{{/if}}
{{/if}}


{{> page_content_close }}		
{{> container_close }}