{{#if content_type == article}}
	{{assign icon = comment}}
{{elsif content_type == page}}
	{{assign icon = file}}
{{elsif content_type == product}}
	{{assign icon = shopping-cart}}
{{/if}}




<div class="search-result clearfix">
	<div class="title clearfix">
	<h3>{{ item.title | link_to: item.url }}</h3>
	<!-- <span class="label label-{{content-type}} label-info"></span> -->
	<i class="icon-{{icon}}" rel="tooltip" title="{{content_type}}"></i>
	</div>
	
	{{#if item.featured_image}}	
		<a href="{{ item.url }}">{{ item.featured_image | product_img_url: small | img_tag: item.featured_image.alt }}</a>
  {{/if}}
	<p class="description">{{ item.content | strip_html | truncatewords: 50 | highlight: search.terms }}</p>
	<p class="more"><a href="{{ item.url }}">View details »</a></p>
</div>