{{assign display_google_plus =  template | append: _display_sharing_google_plus?}}
{{assign display_twitter =  template | append: _display_sharing_twitter?}}
{{assign display_facebook =  template | append: _display_sharing_facebook?}}
{{assign display_pinterest =  template | append: _display_sharing_pinterest?}}

<div id="social" class="clearfix">
	<div class="share-this">
	<i class="icon-heart"></i> 
	</div>
	
	{{#if settings[display_google_plus]}}
	<div class="share-google">
		<g:plusone size="medium" annotation="none"></g:plusone>
	</div>
	{{/if}}
	
	{{#if settings[display_twitter]}}
	<div class="share-twitter">
		<a href="http://twitter.com/share"{{#if template == product or template == article or template == blog}} data-url="{{ shop.url }}{{ social.url }}"{{/if}} data-text="{{#if template == product}}{{ product.title | escape }} by {{ product.vendor | escape }}{{elsif template == blog}}{{ social.title | escape }}{{else}}{{ page_title | escape }}{{/if}}" class="twitter-share-button" data-count="none">Tweet</a>
	  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	{{/if}}
	
	{{#if settings[display_facebook]}}
	<div class="share-fb">
	  <iframe src="http://www.facebook.com/plugins/like.php?href={{ shop.url }}{{ social.url }}&amp;layout=button_count&amp;display_faces=true&amp;width=48&amp;action=like&amp;colorscheme=light&amp;height=21" style="border:none; overflow:hidden; width:48px; height:30px"></iframe>
	</div>
	{{/if}}
	
	{{#if settings[display_pinterest]%}
	<div class="share-pinterest">
		<a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.featured_image | product_img_url: small }}&amp;description={{ product.description | strip_html | truncatewords: 20 | escape }}" class="pin-it-button">Pin It</a>
		<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
	</div>
	{{/if}}
	
</div>
