{{assign widget_area = page_sidebar%}
<div class="widgets">
{{#if settings.blog_display_subscribe?}}
	<div class="widget widget-subscribe">
		{{assign blog_rss_url = shop.url | append: blog.url | append: .atom}}
		<a href=" {{blog_rss_url}} "><i class="icon-plus"></i> Subscribe</a>
	</div>
{{/if}}

{{for i in (1..5)}}
	{{include get_widget with i | newline_to_br}}
{{/for}}
</div>