<li>
	<article class="hproduct product-{{product.id}} {{product.handle}}">
	{{#if settings[display_images]}}		
		<div class="image">
			<a href="{{ product.url | within: collection }}" title="{{ product.title }}">
				<img src="{{ product.images.first | product_img_url: grande }}" alt="{{ product.title }}" />
			</a>
		</div>
	{{/if}}
		<div class="details">
			
			<header>
				<h1>
					<a href="{{ product.url | within: collection }}" title="{{ product.title }}">
						<span class="name">{{ product.title }}</span>
					</a>
				</h1>
			</header>
			
			{{> product_price }}
			
			<span class="description">{{product.description | truncatewords: 15 | strip_html }}</span>
		</div>
		
	</article>
</li>