{{#if blogs[settings.widget_tags_articles_blog].all_tags.size > 0}}

<ul class="tag-list tags-articles">
{{for tag in blogs[settings.widget_tags_articles_blog].all_tags}}
<li class="{{ tag | handleize }}{{#if current_tags contains tag}} active{{/if}}">
	<a href="{{ shop.url}}/blogs/{{ blogs[settings.widget_tags_articles_blog].handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
</li>
{{/for}}
</ul>

{{/if}}