<ul class="articles">
{{for article in blogs[settings.widget_articles_blog].articles limit: settings.widget_articles_limit}}
	<li class="{{#if forloop.first}} first{{/if}}{{#if forloop.last}} last{{/if}}">		
		{{assign article_area = widget_articles}}
		{{include article_header with article_area}}
		{{include article_body with article_area}}
		{{include article_footer with article_area}}
	</li>
{{/for}}
</ul>