<footer>
{% if article_area != 'article' %}

	<!-- Article list -->
	
	{% if settings[display_tags] and article.tags.size > 0 %}
	<div class="tags">
		<i class="icon-tags"></i> 
		{% for tag in article.tags %}<a href="{{ blog.url }}/tagged/{{ tag | handle }}" rel="tag">{{ tag | strip_html}}</a>{% endfor %}
	</div>
	{% endif %}

{% else %}
	
	<!-- Single article -->
	
	{% if settings.article_display_sharing_google_plus? or settings.article_display_sharing_twitter? or settings.article_display_sharing_facebook? or settings.article_display_sharing_pinterest? %}
		{% include 'share' with article %}
	{% endif %}

	<div class="article-location">
		This entry was posted in {{ blog.title | link_to: blog.url }}
		{% if article.tags.size > 0 %}
		and tagged
		{% for tag in article.tags %}
		<a href="{{ blog.url }}/tagged/{{ tag | handle }}" rel="tag">{{ tag | strip_html}}</a>{% unless forloop.last %}<span class="sep">,</span>{% endunless %}{% endfor %}{% endif %}.
	</div>

{% endif %}
</footer>
</article>