<div id="calculator" style="display:none;">
  
  <div id="wrapper-response"></div>
  
  <div class="control-group">
    <label class="control-label" for="address_country">Country</label>
    <div class="controls">
      <select id="address_country" class="span12" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </div>
  </div>
  
  <div id="address_province_container" style="display:none;">
    <div class="control-group">
      <label class="control-label" for="address_province">Province</label>
      <div class="controls">
        <select id="address_province" class="span12" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="address_zip">Zip/Postal</label>
    <div class="controls">
      <input id="address_zip" class="span6" type="text" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} placeholder="Zip/Postal">
    </div>
  </div>
  
  <div class="form-actions">
		 <input type="submit" id="get-rates-submit" class="get-rates btn btn-primary" value="Find rates" />
		<a href="#" id="hide-calculator">Close calculator</a>
  </div>

</div>


<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
  {{if success}}
    {{if rates.length > 1}}
    <p>There are ${rates.length} shipping rates available for ${address}, starting at {{html Shopify.formatMoney(rates[0].price)}}.</p>
    {{else}}
      {{if rates.length == 1}}
      <p>There is one shipping rate available for ${address}.</p>
      {{else}}
      <p>We do not ship to this destination.</p>
      {{/if}}
    {{/if}}
  {{else}}
    ${errorFeedback}
  {{/if}}
  </p>
  <ul id="shipping-rates">
    {{each( index, rate ) rates}}
    <li><i class="icon-truck tcl"></i>${rate.name} at <span class="shipping-price">{{html Shopify.formatMoney(rate.price) }}</span></li>
    {{/each}}
  </ul>
	
  {{if rates.length > 1}}
  <p>You will be able to select your desired shipping method at the end of the checkout process. </p>
  {{/if}}	

  {% endraw %} 
</script>

<script type="text/javascript" charset="utf-8">
//<![CDATA[
// Including api.jquery.js conditionnally.
if (typeof Shopify.onCartShippingRatesUpdate === 'undefined') {
  document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
}
//]]>
</script>

{{ "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ "/services/javascripts/countries.js" | script_tag }}
{{ "jquery.cart.min.js" | asset_url | script_tag }} 

<script type="text/javascript" charset="utf-8">
//<![CDATA[

Shopify.money_format = "{{ shop.money_with_currency_format }}";

Shopify.Cart.ShippingCalculator.show( {
  submitButton: '{{ settings.shipping_calculator_submit_button_label }}', 
  submitButtonDisabled: '{{ settings.shipping_calculator_submit_button_label_disabled }}'{% if shop.customer_accounts_enabled and customer %},
  customerIsLoggedIn: true{% endif %}
} );

//]]>
</script>