<section>
	<div class="widget widget-customer-details">
		<div class="widget-inner">
			<header>
				<h1>Addresses</h1>
			</header>


			<p id="customer-name" class="item"><strong>{{ customer.name }}</strong></p>

			{% if customer.default_address != nil %}
				<div class="item customer-address">
					<address>
						{% if customer.default_address.company != "" %}
							{{ customer.default_address.company }}<br>
						{% endif %}
		        {{ customer.default_address.address1 }}<br>
						{% if customer.default_address.address2 != "" %}
		        	{{ customer.default_address.address2 }}<br>
		        {% endif %}
		        {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
		        {{ customer.default_address.zip}}<br>
						{% if customer.default_address.phone != "" %}
		        <abbr title="Phone">P:</abbr> {{ customer.default_address.phone }}
						{% endif %}
		      </address>
				</div>
			{% endif %}
			
			<span class="label label-success">Default</span><br>
			<a class="view-addresses" href="/account/addresses">Manage addresses</a>
		</div>
	</div>
</section>

