<meta charset="utf-8">

{% assign title_suffix = shop.name %}

{% if template == 'index' %}
{% if settings.index_title != "" %}
<title>{{ settings.index_title }} | {{ title_suffix }}</title>
{% else %}
<title>{{ title_suffix }}</title>
{% endif %}
{% elsif template == '404' %}
<title>404 Page Not Found | {{ title_suffix }}</title>
{% else %}
<title>{{ page_title }} | {{ title_suffix }}</title>
{% endif %}

<meta name="description" content="{{ shop.description }}" />
<meta name="author" content="Empyre Collective">
<meta name="viewport" content="width=device-width">

<!-- Social sharing data -->
<meta property="og:site_name" content="{{ shop.name }}" />

{% if template contains 'product' %}
<meta itemprop="name" content="{{ product.title }}">
<meta itemprop="description" content="{{ product.description | strip_html | truncatewords: 20 | escape }}">
<meta itemprop="image" content="{{ product.featured_image | product_img_url: 'small' }}">
<meta property="og:image" content="{{ product.featured_image | product_img_url: 'small' }}" />

{% elsif template contains 'article' %}
<meta itemprop="name" content="{{ article.title }}">
<meta itemprop="description" content="{{ article.content | strip_html | truncatewords: 20 | escape }}">
    
{% if article.content contains '<img' %}
  {% assign src = article.content | split: 'src="' %}
  {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' %}
  {% if src %}
<meta itemprop="image" content="{{ src }}">      
<meta property="og:image" content="{{ src }}" />
  {% endif %}
{% endif %}

{% else %}
<meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
{% endif %}

<!-- Bookmark icons -->
<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url  }}" />
<link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url  }}">
