{% include 'variables' %}

{% assign display_wrap = true %}
{% assign display_selects = true %}

{% if product.options.first == "Title" and product.variants.first.title == "Default Title" %}
	{% assign default_options = true %}
{% endif %}

{% if settings.product_display_single_variant? == false and product.variants.size <= 1 %}
	{% assign display_selects = false %}
{% endif %}

{% if default_options == true %}
	{% assign display_selects = false %}
{% endif %}

{% if display_selects != true and settings.product_display_quantity? != true %}
	{% assign display_wrap = false %}
{% endif %}

<div id="variant-add">
	<form action="/cart/add" method="post" id="add-to-cart">
		
		{% if display_wrap == false %}
			
			<div style="display:none;">
				<input type="hidden" name="id" id="product-select" value="{{ product.variants.first.id }}">
				<input type="hidden" name="quantity" value="1">
			</div>
			
		{% else %}
		
			<div class="variants clearfix">
				<div class="row-fluid">
				
					<!-- Variant select -->
					{% if display_selects == true %}
						<div class="span6">
							<select id="product-select" name='id' class="span12 customselect">
								{% for variant in product.variants %}
									<option value="{{ variant.id }}">
									{{ variant.title }} - {{ variant.price | money }}
									</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}
				
					<!-- Quantity select -->
					{% if settings.product_display_quantity? %}
						<div class="span3">
							<div class="selector-qty">
							<label for="quantity">Qty.</label>
							<select id="quantity" name="quantity" class="span12 customselect">
								{% for i in (1..10) %}
								<option value="{{ i }}">{{ i }}</option>
								{% endfor %}
							</select>
							</div>
						</div>
					{% endif %}
					
					{% if display_selects != true %}
						<div style="display:none;">
							<input type="hidden" name="id" id="product-select" value="{{ product.variants.first.id }}">
						</div>
					{% endif %}
					
				</div>
			</div>
		{% endif %}
		
		<div class="backorder-notice" style="display:none;">
			<p><span class="variant-title"></span> is currently backordered.<br/>You may still purchase it now but it won't ship until it becomes available again.</p>
		</div>

		<div class="form-actions">
			<button type="submit" name="add" class="btn btn-primary btn-large add-to-cart" onclick="addItem('add-to-cart');return false;">{{button_add_to_cart_text}}</button>
		</div><!-- .form-actions -->
	
  </form>
</div>
