{% if settings.widget_contact_display_newsletter? %}

	{% if settings.widget_contact_newsletter_intro != '' %}
		<p class="intro">{{ settings.widget_contact_newsletter_intro }}</p>
	{% endif %}
	
	<div id="newsletter-signup-status"></div>
  <div class="row-fluid">
  <div class="span11">
    
    <form class="form" id="newsletter-signup" method="post" action="{{ settings.widget_contact_newsletter_action }}" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="row-fluid">	
      <div class="span8">
  	  <input type="email" value="" name="EMAIL" class="email span12" id="mce-EMAIL" placeholder="{{ settings.widget_contact_newsletter_placeholder }}">
  	  </div>
      <div class="span4">
  	  <button type="submit" class="btn btn-primary span12" id="btn-newsletter-signup">{{ settings.widget_contact_newsletter_button_text }}</button>
  	  </div>
	  </div>
	  </form>
	</div>
	</div>
	
{% endif %}

{% if settings.widget_contact_email != '' %}
	<div id="contact-via-email" class="contact-method">
	<span class="type">Email:</span>
	<a href="mailto:{{ settings.widget_contact_email }}">{{ settings.widget_contact_email }}</a>
	</div>
{% endif %}

{% if settings.widget_contact_phone != '' %}
	<div id="contact-via-phone"  class="contact-method">
	<span class="type">Phone:</span>
	{{ settings.widget_contact_phone }}
	</div>
{% endif %}